<mat-tab-group>
  <mat-tab label="Edit data base">
    <div class="form" xmlns="http://www.w3.org/1999/html">
      <div class="data-base-form">
        <mat-form-field appearance="fill">
          <mat-label>Type network:</mat-label>
          <mat-select [(ngModel)]="selectedNetwork" name="table" (selectionChange)="changeTableData($event.value)">
            <mat-option *ngFor="let item of Object.keys(tableData)" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p class="selected-table"> Selected type Network: {{selectedNetwork}}</p>
        <div *ngIf="selectedNetwork">
          <div *ngFor="let item of Object.keys(dataValue)">
            <p>{{item}}:</p>
            <form class="data-form"  [formGroup]="myForm[item]">
              <div class="data-item"*ngFor="let input of dataValue[item]">
                <mat-label>{{input.name}}<span style="color: red; font-size: 20px" *ngIf="isInputRequired(input)"> * </span>: </mat-label>
                <input class="inputData" 
                      [formControlName]="input.name" matInput
                      [type]="input.type === 'bigint' || input.type === 'int' ? 'number' : 'text'" maxlength="256"
                      placeholder="">
              </div>
            </form>
          </div>
        </div>
      </div>
      <button mat-raised-button color="primary" type="submit" (click)="submitForm()"
              [disabled]="!selectedNetwork || formValidation()">
        Submit
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Download or Upload file">
    <div class="template-block">
      <button mat-raised-button color="primary"
              (click)="downloadFile('https://midapi.sni.ai/get_files/TABLECOMMENT.xlsx')">Download TABLE COMMENT
      </button>
      <button mat-raised-button color="primary"
              (click)="downloadFile('https://midapi.sni.ai/get_files/TABLEGROUPS.xlsx')">Download TABLE GROUPS
      </button>
      <button mat-raised-button color="primary"
              (click)="downloadFile('https://midapi.sni.ai/get_files/TABLEPOSTS.xlsx')">Download TABLE POSTS
      </button>
      <button mat-raised-button color="primary"
              (click)="downloadFile('https://midapi.sni.ai/get_files/TABLEUSER.xlsx')">Download TABLE USER
      </button>
    </div>
    <div class="upload-block">
      <input type="file" id="fileInput" (change)="onFileSelected($event)"
             accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
      <button mat-raised-button color="primary" (click)="uploadFile()" [disabled]="!selectedFile">Upload</button>
    </div>
  </mat-tab>
</mat-tab-group>
