.wrap_auth {
  padding: 40px 0 40px 0;

  .left_auth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo_auth {
      margin-left: 100px;
    }

    .stroked_button {
      width: 205px;
      margin: 0 auto 44px auto;
    }
  }

  .default_button {
    margin: 0 auto;
  }

  .wrap_content_auth {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: auto;
    justify-content: center;

    &.reset_password {
      .description {
        margin-bottom: 260px;
      }
    }

    .descr_auth {
      padding-bottom: 17px;
    }

    form {
      display: flex;
      flex-direction: column;

      .forget_password {
        width: 200px;
      }
    }

    .login {
      margin: 94px auto 14px auto;
    }

    .verify {
      margin: 94px auto 14px auto;
    }

    .base_icon_text {
      display: flex;
      margin-top: 35px;
    }

    .send_verify {
      display: grid;
      width: 205px;
      gap: 55px;
      justify-self: center;
      margin-top: 80px;
    }

    .inner-block {
      margin: 0 auto 200px;

      .base_icon_text_icon {
        display: grid;
        grid-template-columns: 60px 130px 50px;
        margin: 35px auto 0;
        align-items: center;

        .first_img {
          margin: 0 auto;
        }
      }
    }
  }
}
.mob_button_forget {
  display: none;
}
@media (max-width: 575.98px) {
}
@media (max-width: 767.98px) {
  .wrap_auth {
    justify-content: center;
    .left_auth {
      display: none;
    }
    .right_auth {
      width: 100%;
    }
    .wrap_content_auth {
      form {
        justify-content: center;
        mat-form-field {
          margin: 0 auto;
        }
        .forget_password {
          margin: 0 auto;
        }
        .mob_button_forget {
          display: flex;
          min-width: 205px;
          max-width: 205px;
          margin: 0 auto;
        }
        .login {
          margin: 30px auto 60px auto;
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
}
